@import 'variables';
@import 'nav';
@import 'cursor';


//Universal Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

//Scrollbar design
* {
    scrollbar-color: rgba(var(--color1), 1);
  
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: rgba(var(--color3), 1);
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(var(--color1), 1);
        border-radius: 20px;
        border: 3px solid rgba(var(--color3), 1);
        transition: .2s;

        &:hover {
            opacity: 0.8;
        }
    }
}

#theme-info-popup {
    position: fixed;
    opacity: 0;
    transform: scale(0.95);
    bottom: 10px;
    right: 10px;
    display: block;
    background-color: rgba(var(--color1), 0.5);
    backdrop-filter: blur(10px);
    color: rgba(var(--color3), 1);
    padding: 10px;
    border-radius: 15px;
    font-family: $font1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 1px solid rgba(255, 255, 255, 0.37);
    user-select: none;
    animation: pop-in-slow 1s forwards 2s;
    z-index: 100;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(10, 10, 10, 0.25);
        border-radius: 15px;
        z-index: 80;
    }


    @keyframes pop-in-slow {
        0% {
            opacity: 0;
            transform: scale(0.95);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}