@import 'variables';

// LAYOUT START
#projects-panel {
    padding-top: 10rem;
}

//Tool Tip
.tool-tip {    
    background-color: rgba(var(--color1), 1) !important;
    border-radius: 1.5rem;

    div {        
        span {
            font-family: 'Sora', sans-serif;
            font-size: 1rem;
        }

        ul {
            list-style: none;
            font-family: 'Racing Sans One', sans-serif;
            font-size: 1.5rem;

            li {
                display: inline-block;
                background-color: rgba(var(--color3), 1);
                color: rgba(var(--color4), 1);
                padding: 0 5px;
                margin: 5px 5px;
                border-radius: .3rem;
            }
        }
    }
}