@import 'variables';

// LAYOUT START
#projects-panel {
    padding-top: 10rem;
}

//Tool Tip
.tool-tip {    
    background-color: $color1 !important;
    border-radius: 1.5rem;

    div {        
        span {
            font-family: 'Sora', sans-serif;
            font-size: 1rem;
        }

        ul {
            list-style: none;
            font-family: 'Racing Sans One', sans-serif;
            font-size: 1.5rem;

            li {
                display: inline-block;
                background-color: $color3;
                color: $color4;
                padding: 0 5px;
                margin: 5px 5px;
                border-radius: .3rem;
            }
        }
    }
}